<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>logIn.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>userRegisterServlet</servlet-name>
        <servlet-class>controller.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRegisterServlet</servlet-name>
        <url-pattern>/userRegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashbordServlet</servlet-name>
        <servlet-class>controller.DashbordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashbordServlet</servlet-name>
        <url-pattern>/DashbordServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>controller.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userUpdateServlet</servlet-name>
        <servlet-class>controller.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userUpdateServlet</servlet-name>
        <url-pattern>/userUpdateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>studentUpdateServlet</servlet-name>
        <servlet-class>controller.StudentUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>studentUpdateServlet</servlet-name>
        <url-pattern>/studentUpdateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logOutServlet</servlet-name>
        <url-pattern>/logOutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <servlet-class>controller.StudentDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <url-pattern>/StudentDeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>controller.SearchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SortByNameServlet</servlet-name>
        <servlet-class>controller.SortByNameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortByNameServlet</servlet-name>
        <url-pattern>/SortByNameServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExcelDataServlet</servlet-name>
        <servlet-class>controller.ExcelDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcelDataServlet</servlet-name>
        <url-pattern>/ExcelDataServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CsvDataServlet</servlet-name>
        <servlet-class>controller.CsvDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CsvDataServlet</servlet-name>
        <url-pattern>/CsvDataServlet</url-pattern>
    </servlet-mapping>


</web-app>